.App {
  text-align: center;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.info-date  {
  color: blue;
  font-size: 20px;
  font-weight: 600;
}

.info-title {
  color: black;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 25px;
}

.info-subtitle  {
  color: black;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.info-note  {
  color: grey;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}

.info-techstack {
  color: black;
  font-size: 15px;
  font-weight: 450;
  margin-bottom: 25px;
  line-height: 1.2;
  font-style: italic;
}

.info-pointer {
  color:grey;
  font-size: 17px;
  font-weight: 350;
  line-height: 1.2;
}

.info-heading {
  color: black;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(219, 219, 219);
}

.App-link {
  color: #61dafb;
}

.home-container {
  order: 1;
  display: flex;
  flex-direction: column; /* Aligns items vertically */
  justify-content: center; /* Centers items vertically */
  justify-content: center; /* Centers items horizontally */
  align-items: center;
  min-height: 100vh;
  width: 85vw; 
  padding-bottom: 15rem;
  padding-top: 15rem;
  padding-left: 10rem;
}

.education-container  {
  order: 3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 85vw;
  padding-left: 25rem;
  padding-top: 5rem;
}

.experience-container {
  order: 4;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85vw;
  padding-left: 15vw;
  padding-right: 160px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.research-container {
  order: 5;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85vw;
  padding-left: 15vw;
  padding-bottom: 20px;
  padding-top: 20px;
}

.skills-container {
  order: 6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 85vw;
  padding-left: 15vw;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-container  {
  order: 7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 85vw;
  padding-left: 15vw;
}

.resume-container {
  order: 3;
  display: flex;
  position: relative;
  height: 100vh; /* Makes the container take the full height of the viewport */
}

.resumeContent-container  {
  display: flex;
  flex:1;
  flex-direction: column;
  padding:50px;
  height: 100vh;
}

.resumeNav-container  {
  position: fixed;
  top: 0;
  display: flex;
  flex: 0.25;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items at the top (vertically) */
  align-items: flex-start; /* Aligns items at the start (horizontally) */
  text-align: left; /* Aligns text to the left within the items */
}

.info-row {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.info-photo {
  margin-left: auto;
  top: 0;
  align-self: flex-start;
}

.info-container  {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 0.6;
}

.info-box-hover:hover {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  height: 20vh;
  justify-content: center; /* Centers items vertically */
  text-align: center; /* Centers items horizontally */
  align-items: center;
  background-color: rgb(244, 244, 255);
  animation-name: info-box-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.info-box-hover:not(:hover) {
  animation-name: info-box-animation-reverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; /* Keeps the final state after the reverse animation */
}

.info-box:hover {
  padding: 10px;
  margin: 10px;
  animation-name: skill-box-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.info-box:not(:hover) {
  animation-name: skill-box-animation-reverse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; /* Keeps the final state after the reverse animation */
}

.image-container  {
  justify-content: center;
  justify-content: center; /* Centers items horizontally */
  margin-right: 150px;
}

.about-container  {
  order: 2;
  display: flex;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Full viewport height */
  text-align: center; /* Optional: Center text inside containers */
  padding-left: 25rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.game-container  {
  order: 7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 85vw;
  padding-left: 15vw;
  padding-bottom: 20px;
  padding-top: 20px;
}

.music-container  {
  order: 8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
  grid-template-rows: 1fr 1fr; /* Two equal rows */
  justify-items: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  min-height: 100vh;
  width: 85vw;
  padding-left: 15vw;
  padding-bottom: 20px;
}

.project-box  {
  display: flex;
  flex-direction: column;
}

.aboutme-container  {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 50vw;
}

.info-box-container {
  display: flex;
  flex: 0.25;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.parent {
  display: flex;
  width: 90vw;
  box-sizing: border-box; /* Include padding in width calculation */
}

.sidebar {
  position: fixed;
  width: 15vw; /* Sidebar width */
  height: 100vh; /* Full viewport height */
  background-color: rgb(219, 219, 219, 0); /* Optional: for visibility */
}

.web-container {
  background-color: rgb(255, 255, 255);
  width: 97vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-container {
  display: flex; /* Enable flexbox */
  margin: 1rem;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.info-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 20vw;
  height: 40vh;
  justify-content: center; /* Centers items vertically */
  text-align: center; /* Centers items horizontally */
  align-items: center;
}

.info-box-hover {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  height: 20vh;
  justify-content: center; /* Centers items vertically */
  text-align: center; /* Centers items horizontally */
  align-items: center;
  background-color: rgb(244, 244, 255)
}

@keyframes skill-box-animation {
  from {background-color: rgb(244, 244, 255);
        width: 20vw;
        height: 40vh;}
  to {background-color: rgb(229, 229, 255);
      width: 30vw;
      height: 50vh;}
}

@keyframes info-box-animation {
  from {background-color: rgb(244, 244, 255);}
  to {background-color: rgb(229, 229, 255);}
}

@keyframes info-box-animation-reverse {
  from {background-color: rgb(229, 229, 255);}
  to {background-color: rgb(244, 244, 255);}
}

@keyframes skill-box-animation-reverse {
  from {
    background-color: rgb(229, 229, 255);
    width: 30vw;
    height: 50vh;
  }
  to {
    background-color: rgb(244, 244, 255);
    width: 20vw;
    height: 40vh;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
