.project-info-heading {
  color: black;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 100px;
}

.project-info-container  {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 0.6;
  padding: 5px;
  margin-bottom: 15px;
  background-color: rgb(255,186,186);
}

.project-info-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: 1fr 1fr; /* Two equal rows */
  justify-items: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.project-info-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  height: 40vh;
  justify-content: center; /* Centers items vertically */
  text-align: center; /* Centers items horizontally */
  align-items: center;
  background-color: rgb(244, 244, 255);
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and transform */
}

.project-info-box-hover {
  cursor: pointer;
  display: flex;
  pointer-events: all;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  height: 40vh;
  justify-content: center; /* Centers items vertically */
  text-align: center; /* Centers items horizontally */
  align-items: center;
  background-color: rgb(200, 200, 255); /* Example change on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and transform */
}



@keyframes project-box-animation {
  from {background-color: rgb(244, 244, 255);
        width: 20vw;
        height: 40vh;}
  to {background-color: rgb(229, 229, 255);
      width: 50vw;
      height: 60vh;}
}

@keyframes project-box-animation-reverse {
  from {background-color: rgb(229, 229, 255);
      width: 50vw;
      height: 60vh;}

  to {background-color: rgb(244, 244, 255);
        width: 20vw;
        height: 40vh;}
}

@keyframes project-info-container-animation {
  from {background-color: rgb(255,186,186);}
  to {background-color: rgb(255, 166, 166);}
}

@keyframes project-info-container-animation-reverse {
  from {background-color: rgb(255, 166, 166);}
  to {background-color: rgb(255,186,186);}
}