.sidebar-li {
    margin-bottom: 50px;
    list-style-type: none;
    margin-left: 10px;
    font-weight: 400;
}

.sidebar-li-top {
    list-style-type: none;
    opacity: 0;
    margin-left: 10px;
    transform: translateY(60px);
    pointer-events: none;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.sidebar-li-top-show {
    list-style-type: none;
    opacity: 0.6;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateY(0); /* Move to the original position */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.sidebar-li-top-show:hover {
    opacity: 0.8;
    padding: 10px;
    font-size: 18px;
    font-weight: 500; /* This will not transition smoothly */
    text-transform: uppercase;
    transition: opacity 0.8s ease, transform 0.8s ease, margin-bottom 0.8s ease, padding 0.8s ease, font-size 0.8s ease; /* font-weight has been removed */
}

.sidebar-li-top-show:not(:hover) {
    opacity: 0.6;
    padding: 0;
    font-size: 16px;
    font-weight: 400; /* This will not transition smoothly */
    text-transform: uppercase;
    transition: opacity 0.8s ease, transform 0.8s ease, margin-bottom 0.8s ease, padding 0.8s ease, font-size 0.8s ease; /* font-weight has been removed */
}


.sidebar-li-bottom {
    list-style-type: none;
    opacity: 0;
    margin-left: 10px;
    transform: translateY(-60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.sidebar-li-bottom-show {
    list-style-type: none;
    opacity: 0.6;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateY(0); /* Move to the original position */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.sidebar-li-bottom-show:hover {
    opacity: 0.6;
    padding: 10px;
    font-size: 18px;
    font-weight: 500; /* This will not transition smoothly */
    text-transform: uppercase;
    transition: opacity 0.8s ease, transform 0.8s ease, margin-bottom 0.8s ease, padding 0.8s ease, font-size 0.8s ease; /* font-weight has been removed */
}

.sidebar-li-bottom-show:not(:hover) {
    opacity: 0.6;
    padding: 0;
    font-size: 16px;
    font-weight: 400; /* This will not transition smoothly */
    text-transform: uppercase;
    transition: opacity 0.8s ease, transform 0.8s ease, margin-bottom 0.8s ease, padding 0.8s ease, font-size 0.8s ease; /* font-weight has been removed */
}

.sidebar-li-middle-bottom {
    list-style-type: none;
    opacity: 0;
    margin-left: 20px;
    transform: translateY(20px);
    pointer-events: none;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.sidebar-li-middle-top {
    list-style-type: none;
    opacity: 0;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 800;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.sidebar-li-middle-show {
    list-style-type: none;
    opacity: 1;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 34px;
    font-weight: 1000;
    transform: translateY(0); /* Move to the original position */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.sidebar-li-middle-show:hover{
    padding-left: 10px;
    transition: padding 0.8s ease;
}

.sidebar-li-middle-show:not(:hover){
    padding-left: 0;
    transition: padding 0.8s ease;
}

.sidebar-li:hover {
    font-weight: 600;
}

.sidebar-top-container  {
    order: 1;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
}

.sidebar-middle-container  {
    order: 2;
    height: 43.5vh;
    flex-direction: column;
    justify-content: center;
}

.sidebar-bottom-container  {
    order: 3;
    height: 0vh;
    flex-direction: column;
    justify-content: center;
}

